body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}


nav {
  	position: relative;
  	height: 60px;
  	padding-left: 150px;
  	padding-top: 5px;
  	text-align: left;
  	background-color: grey;
}

li {
	display: inline-block;
	border-right: 1px solid black;
	padding: 4px;
}

.cat {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 80%;
	border: 1px solid black;
	left: 70px;
}

.green_box {
	position: relative;
	width: 600px;
	height: 300px;
	border: 10px green dotted;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
}

.cathead, .doghead {
	position: absolute;
}

.cathead {
	top: -90px;
	left: -90px;
	width: 200px;
	height: 200px;
}

.doghead {
	bottom: -90px;
	right: -90px;
	width: 200px;
	height: 200px;
}




